.photo-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.form {
  background-color: #090969c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
